@import url('https://db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember');

*,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, sans-serif;
  letter-spacing: .6px;
  text-decoration: none;
  filter: blur(0);
  outline: 0;
  border: 0;
  color: #0F1111;
}
nav * {
  color: white;
  margin-bottom: 0;
  line-height: 1rem;
}