@import url('https://db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember');

*,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, sans-serif;
  text-decoration: none;
  filter: blur(0);
  outline: 0 !important;
  border: 0;
  color: #0F1111;
  line-height: 20px;
}

nav * {
  color: white;
  margin-bottom: 0;
}

html {
  /* background: #EAEDED; */
}

ul {
  list-style-type: none;
}
a:hover{
  color: white;
  text-decoration: none;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}